{% extends 'header.html' %}
{% load static %}
{% block content %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- bradcam_area  -->
    <div class="bradcam_area breadcam_bg_2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>CHANGE PASSWORD</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->
  <!-- ================ contact section start ================= -->
  <section class="contact-section section_padding">
      <div class="row" align="center">
        <div class="container">
          
        
        <div class="col-12">


          <h2 class="contact-title">Change Password</h2>
        </div>
        <div class="col-lg">
          {% if msg %}
            <h4 style="color:green;">{{msg}}</h4>
          {% endif %}
          <form class="form-contact contact_form" action="{% url 'change_password' %}" method="post" align="center">
          {% csrf_token %}
            <div>

              
              <div class="col-sm">
                <div class="form-group">
                  <input class="form-control" name="old_password" id="password" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Old Password" placeholder = 'Enter Old password'>
                </div>
              </div>
              <div class="col-sm">
                <div class="form-group">
                  <input class="form-control" name="new_password" id="password" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter New Password" placeholder = 'Enter New password'>
                </div>
              </div>
              <div class="col-sm">
                <div class="form-group">
                  <input class="form-control" name="cnew_password" id="password" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Password" placeholder = 'Enter Confirm New password'>
                </div>
              </div>

            </div>
            <div class="form-group mt">
              <button type="submit" class="button button-contactForm btn_4 boxed-btn">Change Password</button>
            </div>
          </form>
        </div>
        
        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- ================ contact section end ================= -->

</body>

</html>

{% endblock %}